/*
 * additional style
 */

@import url("./partial/override_reveal.css");
@import url("./partial/utility.css");

#perceivable p {
  color: transparent;
}

#perceivable p::selection {
  background-color: var(--color__accent);
  color: black;
}

#dummy-button {
  padding: 0.5em 3em;
  border-radius: 1000px;
  background-color: var(--color__accent);
  color: black;
  transition: top 0.2s ease-out, left 0.2s ease-out;
}
